# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll
*.log

.vscode/
.cache/
*.exe
*.in
*.out

# Build directories
build/
bin/

# Dependency directories
lib/
coding/
code/
test/
tester/
# Files starting with "testticket"
testticket*